<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统管理首页</title>
    <link rel="stylesheet" th:href="@{/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/element-ui/lib/index.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <script th:src="@{/js/excel.js}"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <h1><a href="/qs" title="重新加载页面">系统管理首页</a></h1>
        </el-header>
        <el-main>

        <el-row :gutter="12">
                <el-col :span="8" v-for="item in urls">
                    <el-card shadow="hover" body-style="{ padding: '40px'}">
                        <a :href="item.url"><i :class="item.icon"></i>{{item.name}}</a>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
        <el-footer>
            <p>@{{year}} Ian</p>
        </el-footer>
    </el-container>
</div>

<script>
    Vue.config.productionTip = false
    new Vue({
        el: "#app",
        data: {
            year: 2022,
            urls: []// 其他功能节点页面url集合
        },
        created: function () {
            this.year = new Date().getFullYear()
            // 装载功能节点数据
            this.urls.push({'name': '票据承兑人信用披露信息管理', 'url': '/qs/bill/info', 'icon': 'el-icon-user-solid'})
        },
        methods: {}
    })

</script>
</body>
</html>